<script>
printAllSchedules();
getMyCourseData();
</script>
<div class="container-fluid">
    <div class="row">
    <a href="#" id="return">
        <i class="bi bi-caret-left-fill"></i>
    </a>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="course placeholder-glow">
                    <img class="course-image-placeholder placeholder" src="" alt="">
                <div class="course-info placeholder-glow">
                    <div class="course-title">
                        <h2 class="course-title-placeholder placeholder rounded">Chess</h2>
                    </div>
                    <div class="course-description">
                        <p class="course-description-placeholder placeholder rounded">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus soluta aliquid voluptatum ad hic.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        <div class="form">
            <div id="carouselExampleAutoplaying" class="carousel slide courseph" data-bs-ride="carousel">
                <div class="carousel-inner borderr">


                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div class="coursedate">
                <h3>Schedule</h3>
              <div class="row course-schedules placeholder-glow">
                <div class="col placeholder">
                  <ul><h6>Monday</h6>
                    <li>2:00pm - 6:00pm</li>
                  </ul>
                </div>
                <div class="col placeholder">
                    <ul><h6>Wednesday</h6>
                        <li>4:00pm - 6:40pm</li>
                      </ul>
                </div>
              </div>
            </div>
        </div>
        <h3 class="Titlemap">Location</h3>
        <div id="map">
        </div>
    </div>
    </div>
    <div class="row" style="margin-top: 30px;" >
        <div class="col-sm-12">
        <button id="dropCourse" class="btn btn-danger w-100 py-8 fs-4 mb-4 rounded-2 text-light btn-left-course" type="button" name="" class="button" onclick="">Leave course <i class="bi bi-trash3"></i></button>
    </div>
</div>
        </div>
        <script> printAllImages();</script>
<script>
    $(document).ready(function() {
        $('#return').on('click', function(event) {
            event.preventDefault(); // Evitar la acción predeterminada del enlace
            loadPartialView('mycourses', document.querySelector('.page'))
            document.querySelector('.navigation').style.display = 'flex';
            isPrinted = false
            isImgPrinted = false;
        });
    });  
</script>
<script>
    $(document).ready(function() {
        $('#dropCourse').on('click', function(event) {
            DelMyCourse()
            event.preventDefault(); // Evitar la acción predeterminada del enlace
            loadPartialView('mycourses', document.querySelector('.page'))
            document.querySelector('.navigation').style.display = 'flex';
            isPrinted = false
            isImgPrinted = false;
        });
    });  
</script>
<script src="public/js/map.js"></script>