    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title_n">Courses</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="courseCarousel" class="owl-features owl-carousel">
                    <div class="item carrousel_item">
                        <div class="image placeholder placeholder-glow">
                        </div>
                        <div class="item-description placeholder-glow">
                            <h2 class="placeholder placeholder-glow">Course</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title_n">Notifications</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="notifications">
                    
                </div>
            </div>
        </div>
    </div>
    <script>printAllNotifications()</script>
    <script>printAllCourses()</script>