<script>printAllUserCourses()</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mycourses">My Courses</h1>
            <ul id="Grid" class="MyCourses-display">
                <li style="display: flex; justify-content:center;">
                    <p style="    text-align: center;
                    font-size: 150%;
                    color:lightgray;">You have not joined a course yet</p>
                </li>
              </ul>
        </div>
</div>
</div>