<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mycourses">My Courses</h1>
            <ul id="Grid">
                <li>
                    <div class="image">
                        <img src="public/img/svg/chessicon.svg" alt="">
                    </div>
                </li>
                <li>
                    <div class="image">
                        <img src="public/img/svg/danceicon.svg" alt="">
                    </div>
                </li>
                <li>
                    <div class="image">
                        <img src="public/img/svg/basketicon.svg" alt="">
                    </div>
                </li>
              </ul>
        </div>
</div>
</div>
