<div class="profile-data">
    <div class="background"> </div>
    <div class="bg mt-8">
    <form class="student-information" name="editform" id="editForm" method="POST">
        <div class="user-container">
            <img src="public/img/prof_imgs/Pogos.jpg" alt="Ejemplo" class="bg-light" >
            <div class="profile placeholder-glow">
                <h2 class="User-name placeholder rounded">██████████████</h2>
                <h6 class="Studentid placeholder rounded">██████████</h6>
            </div>
        </div>
        <div class="row" style="margin-top: -35px;">
            <div class="col studentinfo placeholder-glow">
              <ul>
                <li><h6>Career</h6><p class="User-Career placeholder rounded">█████████</p></li>
                <li><h6>Area</h6><p class="User-Area placeholder rounded">███████</p></li>
                <li><h6>Email</h6><p class="User-Email placeholder rounded">█████████</p></li>
              </ul>
            </div>
            <div class="col studentinfo placeholder-glow">
              <ul>
                <li>
                    <h6>Grade</h6>
                    <p class="User-ClassGrade placeholder rounded">█████████</p>
                </li>
                <li>
                    <h6>Group</h6>
                    <p class="User-ClassGroup placeholder rounded">█████████</p>
                </li>
                <li><h6>Password</h6><p class="User-Password placeholder rounded">***********</p></li>
              </ul>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-sm-12">
            <div style="padding: 10px;">
                <button id="callEdit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2 btn-profile-edit" type="button" name="" class="button" onclick="">Edit <i class="bi bi-pencil-square"></i></button>
            </div>
        </div>
        </div>
    </form>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#callEdit').on('click', function(event) {
            event.preventDefault(); // Evitar la acción predeterminada del enlace
            loadPartialView('Modules/profile_edit', document.querySelector('.student-information'))
            
        });
    });  
</script>
<script>
    getUserData(getLocalStorageValue("id_user"), null)
</script>