  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="mb-0">
              <div class="card-body">
                <a href="#" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="public/img/Picture1.png" style="width:40%" alt="">
                </a>
                <form name="registerform" id="regForm" method="POST">
                  <!-- One "tab" for each step in the form: -->
                  <div class="tab">
                    <label for="" class="form-label">Student</label>
                    <p><input placeholder="First name..." oninput="this.className = ''" name="fname" class="form-control"></p>
                    <p><input placeholder="Last name" oninput="this.className = ''" name="lname" class="form-control"></p>
                  </div>
                  <div class="tab">
                    <label for="" class="form-label">Student Information</label>
                    <p><input placeholder="Student ID" oninput="this.className = ''" name="email" class="form-control"></p>
                    <p><select class="form-select" aria-label="Default select example">
                      <option selected value="">--Carreer--</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select></p>
                    <p><select class="form-select" aria-label="Default select example">
                      <option selected value="">--Area--</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select></p>
                  </div>
                  <div class="tab">
                    <label for="" class="form-label">Email</label>
                    <p><input placeholder="Email" oninput="this.className = ''" name="uname" class="form-control"></p>
                    <p><input placeholder="Password" oninput="this.className = ''" name="pword" type="password" class="form-control"></p>
                  </div>
                  <!-- Circles which indicates the steps of the form: -->
                  <div style="text-align:center;margin-top:40px;">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                  </div>
                </form>
                <div style="overflow:auto;">
                  <div style="float:right;">
                    <button type="button" id="prevBtn" onclick="nextPrev(-1)" class=" btn btn-secondary">Previous</button>
                    <button type="button" id="nextBtn" onclick="nextPrev(1)" class=" btn btn-primary">Next</button>
                  </div>
                </div>
                <p >Do you have an account?<a id="loginlink" class="text-primary fw-bold ms-2" href="#">Login</a> </p>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      $('#loginlink').on('click', function(event) {
          event.preventDefault(); // Evitar la acción predeterminada del enlace
          loadPartialView('login', document.querySelector('.page'))
      });
  });
  </script>
  <script src="public/js/signup.js"></script>
  <script>
    $(document).ready(function() {
      $('.Successful').on('click', function(event) {
          event.preventDefault(); // Evitar la acción predeterminada del enlace
          loadPartialView('login', document.querySelector('.page'))
      });
  });
  </script>